.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.contact > h1 {
  padding-top: 20px;
  font-size: 2rem;
  /* font-family: cursive; */
}

.contact > div {
  width: 80%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  flex-direction: column;
  justify-content: center;
}
.contact h1{
  margin-bottom: 10px;
}
.whatsappIcon{
  text-decoration: none;
  margin: 1rem auto;
  color: #fff;
  font-size: 0.9em;
  padding: .5rem 1.5rem .5rem 3rem;
  border-radius: 2em;
  font-weight: bold;
  background: #25d366 url('https://tochat.be/click-to-chat-directory/css/whatsapp.svg') no-repeat 1.5em center;
  background-size: 1rem;
}     
